/.gradle/
/.idea/
/build/
/run_client/
/run_server/
/common/.gradle/
/common/build/
/fabric/.gradle/
/fabric/build/
/fabric/run_client/
/fabric/run_server/
/neoforge/.gradle/
/neoforge/build/
/neoforge/runs/
/fabric/config.txt
/fabric/launcher.exe
/neoforge/config.txt
/neoforge/launcher.exe
/neoforge/jar_output/
/fabric/jar_output/
/library_cached_sources/
/minecraft_cached_sources/
